:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
